[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chenxiaoxing/桌面/net.lutris.epic-games-store-2.desktop]
row=0
col=0

[/home/chenxiaoxing/桌面/net.lutris.battlenet-1.desktop]
row=2
col=0

[/home/chenxiaoxing/桌面/net.lutris.grand-theft-auto-v-3.desktop]
row=1
col=0

